:root {
    --bg-no-rgb: 38, 39, 48;
    --bg: rgb(var(--bg-no-rgb));
    --accent: rgb(215, 208, 200);
    --visited: rgb(88, 129, 87);
    --wall: rgb(116, 77, 66);
    --goal: rgb(39,154,241);
    --path: rgb(57,67,183);
    --tile: rgb(255, 165, 105);
}

html,
body {
    height: 100%;
    margin: 0px;
    background-color: var(--bg);
    font-family: Ubuntu, "times new roman", times, roman, serif;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: none;
}

main {
    text-align: center;
    flex-grow: 1;
    display: flex;
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
}
main > * {
  flex:1;
}

#maze {
    flex-grow: 3;
    max-height:90vh;
    max-width:90vh;
    padding: 50px;

}
#maze.grid {
    display: inline-grid;
    gap: 3px;
    aspect-ratio: 1;
}

#maze.grid>div {
    border-radius: 2px;
    min-height: 1px;
    aspect-ratio: 1;
    opacity: 0;
    transition: background-color .5s, transform .5s, rotate .2s;
    animation: grow .5s, show .5s forwards;
}

#maze.canvas > canvas {
    width: 100%;
    height: 100%;
}

.panel {
    background-color: var(--accent);
    color: var(--bg);
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.panel.shrunk {
    background-color: var(--bg);

}

.panel.shrunk > *:not(.expand) {
    display: none;
}

.panel.shrunk > .expand::after {
    transform: rotateZ(180deg);
}

.expand {
    height: 100%;
    width: 25px;
    background-color: var(--accent);
    padding: 0px 10px 0px 10px;
    border-left: 3px solid rgba(var(--bg-no-rgb), 0.3);
    display: flex;
    align-items: center;
}

.expand::after {
    background-image: url("../img/expand.png");
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-position: center;
}

.rotated {
    rotate: 180deg;
}

.panel > li {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-right:10px;
}

.panel > li > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-text {
    margin: 0px 10px 0px 10px;
    text-align: left;
}
div.maze-unvisited {
    background-color: var(--accent);
}

div.maze-visited {
    background-color: var(--visited);
}

div.maze-wall {
    background-color: var(--wall);
}

div.maze-begin, div.maze-end {
    background-color: var(--goal);
}
div.maze-begin > div, div.maze-end > div {
    pointer-events: none;
    content: "";
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    animation: show 1s;
}

div.maze-begin > div {
    background-image: url("../img/flag.png");
}

div.maze-end > div {
    background-image: url("../img/crown.png");
}

div.maze-path {
    background-color: var(--path);
}

.flip {
    rotate: 90deg y;
}

.tile {
    margin-left: 5px;
    min-height: 40px;
    min-width: 40px;
    padding:5px;
    border-radius: 5px;
    border: 2px solid var(--tile);
}
.tile[data-tile] {
    border-color: var(--bg);
    cursor:pointer;
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.right.shrunk > *{
    margin-left: auto;
}

.right ul {
    padding-left: 0;
}