:root {
    --bg-no-rgb: 38, 39, 48;
    --bg: rgb(var(--bg-no-rgb));
    --accent: rgb(215, 208, 200);
    --visited: rgb(88, 129, 87);
    --wall: rgb(157, 105, 90);
    --goal: rgb(39,154,241);
}

html,
body {
    height: 100%;
    margin: 0px;
    background-color: var(--bg);
    font-family: Ubuntu, "times new roman", times, roman, serif;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: none;
}

main {
    text-align: center;
    flex-grow: 1;
    display: flex;
    height: max-content;
    flex-direction: row;
}

#maze {
    height: 800px;
    width: 800px;
    display: inline-grid;
    gap: 4px;
    padding: 50px;
}

#maze>div {
    border-radius: 5px;
    min-height: 1px;
    aspect-ratio: 1;
    opacity: 0;
    transition: background-color 1s, transform .5s;
    animation: grow .5s, show .5s forwards;
}

#commands {
    background-color: var(--accent);
    color: var(--bg);
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.expand {
    height: 40px;
    width: 40px;
    background-image: url("../img/expand.png");
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin:15px;
}
#commands > li {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-right: 3px solid rgba(var(--bg-no-rgb), 0.3);
}

#commands > li > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-text {
    margin-left: 10px;
    text-align: left;
}
div.maze-unvisited {
    background-color: var(--accent);
}

div.maze-visited {
    background-color: var(--visited);
}

div.maze-wall {
    background-color: var(--wall);
}

div.maze-begin, div.maze-end {
    background-color: var(--goal);
}
div.maze-begin > div, div.maze-end > div {
    pointer-events: none;
    content: "";
    background-origin: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    animation: show 1s;
}

div.maze-begin > div {
    background-image: url("../img/flag.png");
}

div.maze-end > div {
    background-image: url("../img/crown.png");
}

div.maze-path {
    background-color: rgb(57,67,183);
}

.flip {
    transform: rotateY(90deg);
}
.tile {
    margin-left: 5px;
    min-height: 40px;
    min-width: 40px;
    padding:5px;
    border-radius: 5px;
    border: 2px solid var(--bg);
}
@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}